# Data Science Fundación YPF + Ingenias
### Grupo 10
## EDA II : En esta notebook realizamos una nueva limpieza sobre el dataset, renombrando columnas y recategorizando variables. Además a partir de esta notebook creamos los 6 datasets individuales que usaremos para cada una de als fuentes de energía que luego serán modelados individualmente.

In [16]:
# Importamos las librerias que usaremos
import pandas as pd
import numpy as np

Leemos los datos limpios y procesados.

In [15]:
# Leemos nuevamente los datos de er
er_limpio = pd.read_csv('er_limpio.csv')
er_limpio.drop('Unnamed: 0', axis=1, inplace=True)

<font color='red'> El archivo er_limpio.csv no contiene la columna <b>"Nueva Generación"</b>, ya que no contiene información relevante para nuestro proyecto </font>

In [5]:
# Vemos los datos que contiene el archivo
er_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15847 entries, 0 to 15846
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   anio         15847 non-null  int64
 1   central      15847 non-null  object
 2   central_des  15847 non-null  object
 3   maquina      15847 non-null  object
 4   fuente_de    15847 non-null  object
 5   region       15847 non-null  object
 6   prov         15847 non-null  object
 7   mes          15847 non-null  int64
 8   energia_gen  15847 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 1.1+ MB

## Transformación de variables

Convertimos las variables categoricas <b>'fuente_de', 'region' y 'prov'</b> en su representación numerica.

**`get_dummies()`**

In [23]:
categorias = pd.get_dummies(er_limpio['fuente_de'], prefix = 'f')

In [24]:
er_limpio = pd.concat([er_limpio.drop('fuente_de', axis = 1),categorias], axis = 1)

**`LabelEncoder()`**

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
test_encoder = LabelEncoder()

In [21]:
er_limpio['prov'] = test_encoder.fit_transform(er_limpio['prov'])

In [22]:
test_encoder.classes_

array(['BUENOS AIRES', 'CATAMARCA', 'CHACO', 'CHUBUT', 'CORDOBA',
       'CORRIENTES', 'JUJUY', 'LA PAMPA', 'LA RIOJA', 'MENDOZA',
       'MISIONES', 'NEUQUÉN', 'RIO NEGRO', 'SALTA', 'SAN JUAN',
       'SAN LUIS', 'SANTA CRUZ', 'SANTA FE', 'SANTIAGO DEL ESTERO',
       'TUCUMAN'], dtype=object)

In [26]:
er_limpio['region'] = test_encoder.fit_transform(er_limpio['region'])

In [27]:
test_encoder.classes_

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [28]:
er_limpio

,anio,central,central_des,maquina,region,prov,mes,energia_gen,f_BIODIESEL,f_BIOGAS,f_BIOMASA,f_EOLICO,f_HIDRO <=50MW,f_SOLAR
0,2011,AESP,AES PARANA,AESPCC01,5,0,1,0.0,1,0,0,0,0,0
1,2011,AESP,AES PARANA,AESPCC02,5,0,1,0.0,1,0,0,0,0,0
2,2011,AMEGHI,F. AMEGHINO,AMEGHI,8,3,1,13.8,0,0,0,0,1,0
3,2011,ARAUEO,ARAUCO EOLICO,ARAUEO,7,8,1,0.1,0,0,0,1,0,0
4,2011,CACVHI,C.H.CACHEUTA VI,CACVHI,3,9,1,0.0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15842,2023,SARC,SARMIENTO SJ,SARCTG22,3,14,6,0.0,1,0,0,0,0,0
15843,2023,SEMIHI,SEMINO,SEMINO,5,17,6,0.0,0,0,0,0,1,0
15844,2023,SNIC,SAN NICOLAS,SNICTG01,5,0,6,0.0,1,0,0,0,0,0
15845,2023,TIMB,CT TIMBUES (GSMA),TIMBCC02,5,17,6,0.0,1,0,0,0,0,0
15846,2023,SMAN,S.MARTIN NORTE,SMANDI01,4,0,6,0.0,0,1,0,0,0,0

Se eliminan todas las columnas que no serán usadas en el modelo, sólo se deja una fuente de energía

In [38]:
er_limpio.drop('maquina', axis=1, inplace=True)
er_limpio.drop('central', axis=1, inplace=True)
er_limpio.drop('central_des', axis=1, inplace=True)
er_limpio.drop('f_BIOGAS', axis=1, inplace=True)
er_limpio.drop('f_BIOMASA', axis=1, inplace=True)
er_limpio.drop('f_EOLICO', axis=1, inplace=True)
er_limpio.drop('f_HIDRO <=50MW', axis=1, inplace=True)
er_limpio.drop('f_SOLAR', axis=1, inplace=True)
er_limpio.drop('energia_gen', axis=1, inplace=True)

KeyError: "['maquina'] not found in axis"

In [ ]:
er_limpio

In [ ]:
# Acomoda las columnas para que queden mejor ordenadas'
er_limpio=er_limpio.reindex(columns = ['anio','mes','region','prov',f_BIODIESEL','energia_gen'])

In [32]:
er_limpio

       anio  region  prov  mes  f_BIODIESEL
0      2011       5     0    1            1
1      2011       5     0    1            1
2      2011       8     3    1            0
3      2011       7     8    1            0
4      2011       3     9    1            0
...     ...     ...   ...  ...          ...
15842  2023       3    14    6            1
15843  2023       5    17    6            0
15844  2023       5     0    6            1
15845  2023       5    17    6            1
15846  2023       4     0    6            0

[15847 rows x 5 columns]

In [14]:
# Guardamos el nuevo dataset con sólo una fuente de energía
er_limpio.to_csv('er_limpio_biodiesel.csv')